{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<form method="POST" action="/register">
    <label>Username: <input type="text" name="username"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <label>Email: <input type="email" name="email"></label><br>
    <label>Secondary Password: <input type="password" name="secondary_password"></label><br>
    <button type="submit">Register</button>
</form>
<a href="/login">Already have an account? Login here.</a>
{% endblock %}
